[submodule "dependencies/fpga/fpga-shells"]
	path = dependencies/fpga/fpga-shells
	url = https://github.com/chipsalliance/rocket-chip-fpga-shells.git
[submodule "soc-generator/generator/diplomacy"]
	path = soc-generator/generator/diplomacy
	url = https://github.com/chipsalliance/diplomacy.git
[submodule "soc-generator/generator/hardfloat"]
	path = soc-generator/generator/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "soc-generator/generator/rocket-chip"]
	path = soc-generator/generator/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "soc-generator/generator/rocket-chip-blocks"]
	path = soc-generator/generator/rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git
[submodule "soc-generator/generator/rocket-chip-inclusive-cache"]
	path = soc-generator/generator/rocket-chip-inclusive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "soc-generator/generator/testchipip"]
	path = soc-generator/generator/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "soc-generator/sims/firesim"]
	path = soc-generator/sims/firesim
	url = https://github.com/firesim/firesim.git
[submodule "dependencies/tools/DRAMSim2"]
	path = dependencies/tools/DRAMSim2
	url = https://github.com/firesim/DRAMSim2.git
[submodule "dependencies/tools/cde"]
	path = dependencies/tools/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "dependencies/tools/rocket-dsp-utils"]
	path = dependencies/tools/rocket-dsp-utils
	url = https://github.com/ucb-bar/rocket-dsp-utils.git
[submodule "dependencies/tools/dsptools"]
	path = dependencies/tools/dsptools
	url = https://github.com/ucb-bar/dsptools.git
[submodule "dependencies/tools/fixedpoint"]
	path = dependencies/tools/fixedpoint
	url = https://github.com/ucb-bar/fixedpoint.git
[submodule "dependencies/tools/firrtl2"]
	path = dependencies/tools/firrtl2
	url = https://github.com/ucb-bar/firrtl2.git
[submodule "applications/firemarshal"]
	path = applications/firemarshal
	url = https://github.com/firesim/FireMarshal.git
[submodule "soc-generator/generator/boom"]
	path = soc-generator/generator/boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "soc-generator/generator/gemmini"]
	path = soc-generator/generator/gemmini
	url = https://github.com/ucb-bar/gemmini.git
